parameters:
  level: 9
  paths:
    - src
  scanDirectories:
    - vendor/fp-cli/fp-cli/php
  scanFiles:
    - vendor/php-stubs/finpress-stubs/finpress-stubs.php
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: missingType.parameter
